.dashboard-hero {
    width: 100% !important;
    margin: 10px !important;
}

.dashboard-hero-title {
    font-size: 3em !important;
    text-transform: uppercase !important;
    color: #40739e !important;
}

.dashboard-hero-text {
    line-height: 2em !important;
    font-weight: 300 !important;
    color: #616161 !important;
    margin-top: 0 !important;
}

.quote-text {
    color: #afa4a5;
}
.dashboard-hero-text footer.quote-text,
.dashboard-hero-text q.quote-text {
    font-style: italic;
}



.dashboard-hero-text footer {
    display: inline-block;
    padding-left: 10px;
}

.dashboard-hero-text footer:before {
    content: '- ';
}

.ui.top.attached.label:first-child+:not(.attached) {
    margin-top: 0!important;
}

.task-container {
    margin: 20px 5px;
}